In [ ]:
import pandas as pd
import numpy as np

# Assignment 1
Authors: Mahri Kadyrova, Malek Sibai

# Question 1: how many invalid entries can you find

In [45]:
excel_filepath = r"C:\Users\mkkad\Desktop\uoft_classes\bme1510_data_science\BME1510_Lecture1_Data.xlsx"
excel_df = pd.read_excel(excel_filepath)

df_info = excel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 81 non-null     float64
 1   Program            93 non-null     object
 2   Year_in_program    92 non-null     object
 3   Python_experience  91 non-null     object
 4   Stats_experience   90 non-null     object
 5   Coding_experience  89 non-null     object
 6   Excitement_level   89 non-null     object
dtypes: float64(1), object(6)
memory usage: 5.3+ KB

In [7]:
excel_df.describe()

                  ID
count      81.000000
mean    19039.358025
std     87957.241469
min         0.000000
25%      1013.000000
50%      1072.000000
75%      2011.000000
max    676767.000000

In [18]:
print(f"""
Total length of dataframe: {len(excel_df)}
Dataframe info:
{df_info}
Dataframe description:
{excel_df.describe()}

First column is missing {excel_df.iloc[:,0].isna().sum()} values.
Second column is missing {excel_df.iloc[:,1].isna().sum()} values.
Third column is missing {excel_df.iloc[:,2].isna().sum()} values.
Fourth column is missing {excel_df.iloc[:,3].isna().sum()} values.
Fifth column is missing {excel_df.iloc[:,4].isna().sum()} values.
Sixth column is missing {excel_df.iloc[:,5].isna().sum()} values.
Seventh column is missing {excel_df.iloc[:,6].isna().sum()} values.
""")

Total length of dataframe: 95
Dataframe info:
None
Dataframe description:
                  ID
count      81.000000
mean    19039.358025
std     87957.241469
min         0.000000
25%      1013.000000
50%      1072.000000
75%      2011.000000
max    676767.000000

First column is missing 14 values.
Second column is missing 2 values.
Third column is missing 3 values.
Fourth column is missing 4 values.
Fifth column is missing 5 values.
Sixth column is missing 6 values.
Seventh column is missing 6 values.

# Question 2: suggest reasonable ways to deal with invalid entries?

- Continuous: interpolate the values
- Discrete: label them as NA delete the value or delete the row
- String: label as NA, delete the value, or delete the entire row

# Question 3: find the proportion of students in master's program have experience in python

In [27]:
excel_df['Program'] = excel_df['Program'].map(lambda x: x.strip().lower() if isinstance(x, str) else x)
program_types = excel_df['Program'].unique()
master_vars = [i for i in program_types if isinstance(i, str) and  i.startswith('m')]
master_count = len(excel_df[excel_df['Program'].isin(master_vars)])

print(f"Proportion of master students in the dataset: {master_count/len(excel_df):.2%}")

Proportion of master students in the dataset: 68.42%

# Question 4: find the proportion of students that are excited to be in the course

In [50]:
exc_level_types = excel_df['Excitement_level'].unique()
manual_cases = ['ðŸ‘',
       'âˆž', 'yes',
        '80% (nervous)']

excel_df['Excitement_level'] = excel_df['Excitement_level'].map(lambda x: 8 if x in manual_cases else x)

excel_df['Excitement_level'] = pd.to_numeric(excel_df['Excitement_level'], errors='coerce')

In [51]:
excited_count = excel_df[excel_df['Excitement_level'] >= 7]

print(f"Proportion of students with excitement level 7 or higher: {len(excited_count)/len(excel_df):.2%}")

Proportion of students with excitement level 7 or higher: 28.42%